<div id="footer_container">
	<div id="footer_spacer"></div>
	<div id="footer">
		<div class="container">
			&copy; Company 2014
			<ul>Here</ul>
			<ul>Go</ul>
			<ul>Things</ul>
		</div>
	</div>
</div>